.input-field {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s, box-shadow .15s;

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
  }
}

.form-label {
  font-weight: 400;
  display: inline-block;
  margin-bottom: .5rem;
}

.form-note {
  color: #6c757d;
  font-size: 83%;
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.form-section {
  margin-bottom: 1rem;
}

.form-action {
  text-align: center;
  margin-top: 2rem;
}
